body{
    background-color: rgb(231, 232, 231) ;
    text-align: center;  
}

.botao{
    font-size: 1.0em;
    background: #649477;
    border: 0;
    margin-bottom: 1em;
    color: aliceblue;
    padding: 0.2em 0.6em;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.2);
    position: absolute;
    top: 80%;
    left: 65%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.botao:hover {
    background: #80ba98;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao2{
    font-size: 1.0em;
    background: #649477;
    border: 0;
    margin-bottom: 1em;
    color: aliceblue;
    padding: 0.2em 0.6em;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.2);
    position: absolute;
    top: 80%;
    left: 35%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.botao2:hover {
    background: #80ba98;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

fieldset{
    text-align: center;
    position:absolute;
    width: 29%;
    left: 34%;
    padding: 50px;
    background-color: rgb(243, 243, 243);
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

figure{
    left: 85%; 
    top: 73%;
    position: absolute;
}


.navbar{
    background-color:#80ba98;
        
}
a{
    color: black
}

.enabled{
    top: 25%;
}

input[type="password"]{
    width: 260px;
}

input[type="text"]{
    width: 260px;
    left: 50px;
}

.form-group{
    text-align: center;
}

.img{
    position: absolute;
    top: -5%;
    left: 35%;
}